<div class="section">
  <%= link_to root_path, data: { turbo_method: :get } do %>
    <i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i>
  <% end %>
  <hr>
  <h2>Edit</h2>
</div>

<div class="container">
<%= render "form", task: @task %>
</div>
