.card {
  color: #113946;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  margin: 5px; /* Marge entre les cartes */
  padding: 5px; /* Espace intérieur de la carte */
  box-sizing: border-box; /* Inclure la marge et la bordure dans les dimensions de la carte */
}

.card-index{
  flex-basis: calc(50% - 10px); /* La largeur de chaque carte est de 50%, moins la marge */
}

.card-header {
  color: #113946;
  font-weight: bold;
  background-color: #FFF2D8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-body {
  background-color: #fffaf0;
  padding: 10px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.card-text {
  margin-bottom: 1rem;
}

.card-footer {
  background-color: #fffaf0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
